'scopeName': 'source.bonlang'
'name':      'Bonlang'
'fileTypes': ['BL']

'patterns': [
    {
        'match': '\\b(def)\\s+([\\w\x3A\x21\x23\x24\x25\x26\x2A\x2B\x2E\x2F\x3C\x3D\x3E\x3F\x40\x5C\x5C\x5E\x7C\x7E\xCE\xBB\xC2\xAC\xC3\x97\xE2\x89\x88\x27\x5F\x2D]+)\\s+\\[.*\\]'
        'captures':
            '1':
                'name': 'keyword.control.Bonlang'
            '2':
                'name': 'entity.name.function.Bonlang'
        'name': 'meta.function.Bonlang'
    }
    {
        'match': '\\b(module)\\s+([\\w\x3A\x21\x23\x24\x25\x26\x2A\x2B\x2E\x2F\x3C\x3D\x3E\x3F\x40\x5C\x5C\x5E\x7C\x7E\xCE\xBB\xC2\xAC\xC3\x97\xE2\x89\x88\x27\x5F\x2D]+)\\s+(where)'
        'captures':
            '1':
                'name': 'keyword.control.bonlang'
            '2':
                'name': 'entity.name.module.Bonlang'
            '3':
                'name': 'keyword.control.Bonlang'
        'name': 'meta.module.Bonlang'
    }
    {
        'match': '\\b(val)\\s+([\\w\x3A\x21\x23\x24\x25\x26\x2A\x2B\x2E\x2F\x3C\x3D\x3E\x3F\x40\x5C\x5C\x5E\x7C\x7E\xCE\xBB\xC2\xAC\xC3\x97\xE2\x89\x88\x27\x5F\x2D]+)\\s+='
        'captures':
            '1':
                'name': 'keyword.control.Bonlang'
            '2':
                'name': 'entity.name.alias.Bonlang'
        'name': 'meta.alias.Bonlang'
    }
    {
        'match': '(?:(?=[\\p{Ll}_\\p{Lu}\\p{Lt}])(?<![\\p{Ll}_\\p{Lu}\\p{Lt}]))(if|then|else|import|lambda)(?:(?<=[\\p{Ll}_\\p{Lu}\\p{Lt}\\p{Nd}\'])(?![\\p{Ll}_\\p{Lu}\\p{Lt}\\p{Nd}\']))'
        'name': 'keyword.control.Bonlang'
    }
    {
        'begin': '/\\*'
        'end': '\\*/'
        'name': 'comment.block.Bonlang'
    }
    {
        'match': '\\/\\/.*'
        'name': 'comment.line.Bonlang'
    }
]
